{% extends "catalogo/index.html" %}
{% load static %}

{% block main %}
<main class="main">
    <h2 class="display-4 text-white text-center fw-bold bg-mi-color shadow p-3 mb-5 rounded">
        HOME SPRAYS
    </h2>
    <ul class="container">
      {% for producto in productos %}
      <div class="lista_main">
          <img class="img3" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
          <h2>{{ producto.nombre }}</h2>
          <p style="color: white;">${{producto.precio}}</p>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal{{ producto.id }}">
              Ver descripción
          </button>
      </div>
      
      
      <div class="modal fade" id="modal{{ producto.id }}" tabindex="-1" aria-labelledby="modalLabel{{ producto.id }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title">{{ producto.nombre }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <div class="modal-body">
                      <img class="img3" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                      <p>{{ producto.descripcion }}</p>
                  </div>
                  <div class="modal-footer">
                      <form method="post" action="{% url 'agregar_al_carrito' producto.id %}">
                          {% csrf_token %}
                          <div class="input-group mb-3">
                            <label class="input-group-text" for="cantidad{{ producto.id }}">Cantidad:</label>
                            <input type="number" class="form-control" name="cantidad" id="cantidad{{ producto.id }}" min="1" value="1" required>
                          </div>
                          <button type="submit" class="btn btn-warning">Agregar al carrito</button>
                      </form>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
    </ul>
</main>
{% endblock %}
